header {
    padding: 20px;
    text-align: center;
    font-family: Helvetica, sans-serif;
    width: 100%;
}
h1 {
    color: aqua;
    background-color: black;
    padding: 10px 10px 10px 5px;
}
p {
    color: chartreuse;
    background-color: black;
}